body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(100, 255, 200);
}

main {
    text-align: center;
}

.titulo {
    color: red;
}

.barra {
    max-width: 850px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.barra #prog {
    font-size: 30px;

}

.formulario {
    max-width: 850px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.formulario .fie-1 {
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 60%;
}

.formulario .fie-1 .leg-1 {
    font-size: 20px;
    background-color: yellow;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;

}

.formulario .fie-1 #form {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    text-align: start;
    color: gray;

}

.formulario .fie-1 #form .label {}

.formulario .fie-1 #form #nombre {
    padding: 15px;

}

.formulario .fie-1 #form #email {
    padding: 15px;

}

.formulario fieldset #enviar {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: rgb(100, 255, 100);
    border-radius: 5px;
    border: none;
}

.formulario fieldset #enviar:focus {
    background-color: rgb(255, 255, 100);

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(204, 214, 221, 1);
    height: 100px;

}